body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Card-div{
  background-color: blueviolet;
  display: flex;
  margin: auto;
  width: 30vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.card{
  background-color: brown;
  margin: 23px;
}